body{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
table, tr {
    width: 100%;
}
table, th, tr, td{
    margin: 20px 0px;
    text-align: center;
    padding: 15px 0px;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 18px;
}

h1 {
    text-align: center;
}

form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.text-input {
    padding: 8px;
    width: 80%;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 18px;
    border-collapse: collapse;
}

.button {
    padding: 7px;
    border-radius: 10px ;
    background-color: #3a86ff;
    color: white;
    font-size: 18px;
    border: 1px solid #3a86ff;
    margin-left: 10px;
    width: 20%;
}

.table-btn{
    padding: 7px;
    font-size: 16px;
    background-color: #083d77;
    color: white;
    border-radius: 5px;
    border: 1px solid #6b9080;
    margin: 0px 3px;
    text-decoration: none;
}